

{% extends "main.html" %}
{% block content %} 
{% include "appheader.html" %}

<div class="container py-5">
  <div class = 'flash'>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
          {% for message in messages %}
          <div class="alert alert-danger alert-dismissable">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
              <strong>Error:</strong> {{message}}
          </div>
          {% endfor %}
      {% endif %}
      {% endwith %}
  </div>
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <form method="post" action="{{url_for('editPairings', promotional_id=promotional_id, color=color)}}">
        <table class="table table-hover">
          <tr>
            <th>Student</th>
            <th>Partner</th>
          </tr>
          {% if applications %} {% for application in applications %}
          <tr>
            <td>{{ application.fullName }} - {{ application.rankInfo }}</td>
            <td>
              <select class="form-control" style="width:100%" name="{{ application.id }}">
                <option value="sub">SUB</option>
                {% for app in applications %} {% if app != application %}
                {% if form != None %}
                <option value="{{ app.id }}" {% if form[application.id|string]|int == app.id %} selected {% endif %}>{{ app.fullName }} - {{ app.rankInfo }}</option>
                {% else %}
                <option value="{{ app.id }}" {% if app == application.partner() %} selected {% endif %}>{{ app.fullName }} - {{ app.rankInfo }}</option>
                {% endif %} {% endif %} {% endfor %}
              </select>
            </td>
            <td>
              {% if application.id|string in flagged %}
                <p style="color:red">*</p>
              {% endif %}

            </td>
          </tr>
          {% endfor %} {% endif %}

        </table>
        <button type="submit" class="btn btn-default">Submit</button>
        <a class="btn btn-outline-primary" href="{{url_for('showPairings', promotional_id=promotional_id, color=color)}}">Cancel</a>
      </form>
    </div>
  </div>
</div>
{% endblock %}