{% extends "main.html" %}
{% block content %}
{% include "appheader.html" %}

<div class="container">
	<div class="row py-5">
		{% if error %}
		<h1>{{error}}</h1>
		{% endif %}
		<form method="post" action="{{url_for('editPairings', promotional_id=promotional_id, color=color)}}">
			<table class="table table-hover">
				<tr>
					<th>Side A</th>
					<th>Side B</th>
				</tr>
				{% if pairings %}
				{% for pairing in pairings %}
				<tr>
					<th>{{pairing.sideA|safe}}</th>
					{% if pairing.sideB != None %}
					<th>{{pairing.sideB|safe}}</th>
					{% else %}
					<th>None</th>
					{% endif %}
				</tr>
				{% endfor %}
				{% endif %}

			</table>
			<button type="submit" class="btn btn-default">Submit</button>
			<a class="btn btn-outline-primary" href="{{url_for('showPairings',promotional_id=promotional_id, color=color)}}">Cancel</a>
		</form>
	</div>
</div>
{% endblock %}