{% extends "main.html" %}
{% block content %}
{% include "appheader.html" %}
<div class="container py-5">
    <div class="row pb-1">
        <div class="col-md-12">
            <a class="btn btn-outline-primary" href="{{url_for('showPromotional',promotional_id=promotional_id)}}">Back</a>
        </div>
    </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Belts</th>
                            <th>Quantity</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for color in orderedColors %}
                        {% if sizes[color] != {} %}
                        {% for size in orderedSizes %}
                        {% if size in sizes[color].keys() %}
                        <tr>
                            <td>{{ color.capitalize() }} Size {{ size }}</td>
                            <td>{{ sizes[color][size] }}</td>
                        </tr>
                        {% endif %} {% endfor %} {% endif %} {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
</div>
{% endblock %}


<!-- <div class="row py-5">
        <a class="btn btn-outline-primary" href="{{url_for('showPromotional',promotional_id=promotional_id)}}">Back</a>
        {% for color in sizes %}
        <div class="row-py-5"><h4>{{color}} &nbsp;</h4>
        {% for size in sizes[color] %}
        {{size}}:{{sizes[color][size]}}<br>
        {% endfor %}
        </div>
        {% endfor %}
    </div>
 -->