{% extends "main.html" %}
{% block content %}
{% include "appheader.html" %}

<div class="container">
	<div class="row py-5">
		<a class="btn btn-outline-primary" href="{{url_for('editPairings',promotional_id=promotional_id, color=color)}}">Edit pairings for {{color}}</a>
		<a class="btn btn-outline-primary" href="{{url_for('showPromotionalColor',promotional_id=promotional_id, color=color)}}">Back to {{color}}</a>
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Side A</th>
					<th>Side B</th>
				</tr>
			</thead>
			<tbody>
				{% if pairings %}
				{% for pairing in pairings %}
				<tr>
					<td>{{pairing.sideA.fullName}} - {{pairing.sideA.rank}}</td>
					{% if pairing.sideB != None %}
					<td>{{pairing.sideB.fullName}} - {{pairing.sideB.rank}}</td>
					{% else %}
					<td>None</td>
					{% endif %}
				</tr>
				{% endfor %}
				{% endif %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}