{% extends "main.html" %}
{% block content %}
{% include "appheader.html" %}
<!-- Trigger the modal with a button -->
<div class="container">
	<div class="row py-5">
		<div class="col-md-3"></div>
		<div class="col-md-6">
	        <form method="post" action="{{url_for('register')}}">
	        	{% if error %}
	        	<div>{{error}}</div>
	        	{% endif %}
	    		<h4>Register</h4>
	    		<div class="form-group">
	    			<label>First Name </label>&nbsp;<input type="text" class="form-control" name="firstName" required><br>
	    		</div>
	    		<div class="form-group">
	    			<label>Last Name </label>&nbsp;<input type="text" class="form-control" name="lastName" required><br>
	    		</div>
	    		<div class="form-group">
	    			<label>Email </label>&nbsp;<input type="email" class="form-control" name="email" required><br>
	    		</div>
	    		<div class="form-group">
	    			<label>Password </label>&nbsp;<input type="password" class="form-control" name="password" required><br>
	    		</div>	
	    		<div class="form-group">
	    			<label>Confirm password </label>&nbsp;<input type="password" class="form-control" name="confirmPassword" required><br>
	    		</div>	
	    		<button type="submit" class="btn btn-default">Submit</button>
	        </form>
	        <div class="col-md-3"></div>
        </div>
    </div>
</div>
{% endblock %}

